<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <hr>
    <div class="footerAbs">
        <center>
            <p>Copyright &copy; Vikram &#9997;</p><br>
            <a href="https://www.facebook.com/vikram.s.967/" target="_blank" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/v1kr4m_s/" target="_blank" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com/in/vikram1155/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://www.vikram-s.ml" target="_blank" class="fa fa-globe"></a>
        </center>
    </div>
</footer>