<nav>
    <a href="/">
        <h1>ANOTHER BLOGPAGE</h1><br>
    </a>
    <div class="site-title">
        <p>Node + Express + MongoDB</p>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/">Blogs</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </div>
</nav>